header {
    background-color: #222831;
    width: 100%;
    margin: 0 0;
}

body {
    color: #EEEEEE;
    background-color: #31363F;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    
}

footer {
    background-color: #222831;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5em;
}

ul {
    display: flex;
    align-items: center;
    padding: auto;
}

li {
    padding: 0.2em;
}

h1 {
    background-color:#222831;
    margin: auto;
    text-align: center;
    padding: 1%;
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    font-weight: 200;
    
}

.emaillink {
    margin: 0 0 0 0;
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;   
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 75%;
}

.contact_me_tile {
    background-color: #55607293;
    margin: 0 0;
    width: 100%;
}

.contact_me_para {
    margin-top: 0;
}

.portfolio_tile {
    width: 100%;
}

.about_me_tile {
    width: 100%;
}

.floor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aboutmetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.bitcount-prop-single {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;

    margin: 0.5em 0 0.5em 0;
}

.robot_writing {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.goldshower:hover {
    color: gold;
    font-weight: bold;
}

.gitlink {
    padding-bottom: 1em;
}

.gitlogo {
    height: 2em;
    width: auto;
}
 
.hover_opacity:hover {
    opacity: 0.6;
}

.profilepic {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.text-color-gold:hover {
    color: rgba(255, 255, 255, 0.322);
    text-shadow: 0em 0em 3em gold,
    0em 0em 2em gold,
    1px 1px 5px gold,
    0px 0px 15px gold,
    1px 0px 0px yellow,
   -1px 0px 2px rgba(0, 0, 0, 0.7);
}
